* {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-snap-type: y mandatory;
}

body{
    background: black;
}

a{
    text-decoration: none;
}

button{
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;

    font-family: 'Lato';

    border-radius: 30px;
    line-height: 24px;
    letter-spacing: 0.5px;

    text-align: center;
}

nav{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: end;
    height: inherit;
}

.nav-row{
    flex-direction: row;
    display: flex;
    width: 433px;
    align-items: center;
    padding-left: 10px;
}

.nav-btn-disabled{
    font-family: 'Playfair Display';
    font-size: 22px;
    line-height: 0px;
    color: #FFFFFF;
    padding-right: 45px;
}

.nav-btn-enabled{
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
}

.nav-btn-disabled:hover{
    text-shadow: 0 0 10px #fff;
}

.nav-burger{
    display: none;
    height: 32px;
    width: 32px;
    padding-right: 20px;
}

h1{
    font-size: 140px;
    line-height: 154px;
    max-width: 1200px; 
    padding-bottom: 30px;
}

h2{
    font-size: 24px;
    line-height: 38px;
}

hgroup{
    font-family: 'Playfair Display';
    text-align: center;
    color: #FFFFFF;

    position: absolute;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.frame, .frame-start {
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.author, .contacts{
    line-height: 28px;
}

.copyright{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.contacts-el a{
    color: #666666;
    padding-right: 20px;
}

.end-content{
    font-family: 'Open Sans';
    font-size: 13px;

    color: #666666;

    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    max-width: 1200px;
}

.end-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 128px;
    width: 100%;
}

.contacts-el{
    display: flex;
    flex-direction: row;
}

.frame-start{
    height: 435px;
}

.frame-start hgroup{
    top: 120px;
}

.single-img{
    z-index: -1;
}

.single-img picture {  
    margin: auto;
    display: flex;
    width:100%;
    height: 100vh;
    justify-content: center;
}

.single-img picture img{
    opacity: 0.8;
    height: auto;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.header-wrapper{
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    height:100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 40px;
    width: 120px;
    height: 44px;
}

.logo img{
    width: inherit;
    height: inherit;
}

.frame-start h1{
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 5px;
}

.frame-start h2{
    font-size: 23px;
}

.date{
    line-height: 21px;
}

.start-project-card{
    scroll-snap-align: end;
}

.start-project-btn{
    bottom: 100px;
    background: white;
    height: 42px;
    border:none;
    width: 186px;

    font-size: 14px;
}

.view-project{
    bottom: 80px;
    height: 44px;
    width: 160px;
    font-size: 12px;

    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
}

/* Interactive Elements */

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;  
    padding: 15px;
    border-radius: 50%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Sound toggle button */

#toggle-audio{
    display: block;
    position: fixed;
    bottom: 20px;
	left: 30px;
    width: 55px;
	height: 55px;
    z-index: 1;
}

.toggle-sound {  
	background-color: none;
    line-height: 55px;
    text-align: center;
    color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.toggle-sound.sound-mute {
	box-shadow: none;
}

.sound {
	width: 97%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	display: inline-block;
	left: 0;
	top: 0;
	margin-left: -15%;
}
.sound-icon {
	color: inherit;
	line-height: inherit;
	font-size: 1.6rem;
	display: block;
	margin: auto;
	text-align: left;
    margin-right: 5%;
    padding-top: 28%;
}
.sound-wave {
	position: absolute;
	border: 2px solid transparent;
	border-right: 2px solid #fff;
	border-radius: 50%;
	transition: all 100ms;
	margin: auto;
    padding-left: 5px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sound-wave_one {
    width: 22.5%;
    height: 20%;
}
.sound-wave_two {
    width: 35%;
    height: 31%;
}
.sound-wave_three {
    width: 47.5%;
    height: 40%;
}

.sound-mute .sound-wave {
    border-radius: 0;
    width: 17.5%;
    height: 17.5%;
    border-width: 0 2px 0 0;
    left: 5px;
}
.sound-mute .sound-wave_one {
  -webkit-transform: rotate(45deg) translate(0, -75%);
          transform: rotate(45deg) translate(0, -75%);
}
.sound-mute .sound-wave_two {
  -webkit-transform: rotate(-45deg) translate(0, 75%);
          transform: rotate(-45deg) translate(0, 74%);
}
.sound-mute .sound-wave_three {
    opacity: 0;
    transform: translateX(-46%);
    height: 10%;
}

@media screen and (min-device-width: 600px)
and (max-device-width: 1024px) {
  h1{
    font-size: 80px;
    max-width: 720px;

    line-height: 100px;
    padding-bottom: 14px;
  }

  .view-project{
    width:240px;
    height: 60px;

    font-size: 16px;
    bottom: 130px;
  }

  .start-project-btn{
    bottom: 80px;
    height:55px;
    width: 230px;

    font-size: 16px;
  }
  .frame-start hgroup{
    top: 110px;
  }

  .end-content{
    max-width: 683px;
  }

  .copyright{
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-device-width: 600px)
and (orientation: portrait) {
    h1 {
        font-size: 35px;
        line-height: 50px;
        padding-bottom: 10px;
    }

    h2{
        font-size: 16px;
        line-height: 16px;
    }

    hgroup{
        transform: translate(0, -50%);
    }

    .logo{
        padding-left: 20px;
        width: 80px;
        height: 30px;
    }

    .header-wrapper{
        height: 70px;
    }

    .nav-row{
        display: none;
    }

    .nav-burger{
        display: flex;
    }

    .frame-start h1{
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 10px;
    }

    .frame-start h2{
        font-size: 16px;
        line-height: 16px;
    }
    
    .contacts-el{
        flex-direction: column;
        text-align: center;
    }

    .contacts-el a{
        padding-right: 0px;
    }

    .view-project{
        bottom: 160px;
    }

    .start-project-btn{
        bottom: 60px;
        height: 42px;
        width: 186px;

    }

    .frame-start{
        height: 320px;
    }

    .frame-start hgroup{
        padding-bottom: 31px;
    }

    .end-frame{
        height: 230px;
    }

    .end-content{
        font-size: 11px;
        justify-content: center;
    }
}